/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/faq/Faq.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
.Faq_tituloFaq__tF6BQ {

    margin: 0.5em 0 0 1em;

}

.Faq_listFaq__BiuYu {

    margin: 1em 0 0 1em;
    margin-bottom: 3em;
}

.Faq_liFaq__llYX_ {
   list-style: none;
   width: 70%;
}
