/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/header/Header.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Header_linkPositioning__V_5Nw {

    display: flex;
    justify-content: end;
   
}

.Header_anchorStyle__XQ5dh:hover,.Header_anchorStyle__XQ5dh:active,.Header_anchorStyle__XQ5dh:focus,.Header_anchorStyle__XQ5dh:visited {

    border-bottom:2px solid rgba(161, 81, 236, 0.822);
    font-weight: bold;

}

.Header_containerNav__mnD3R {
    border-bottom:2px solid black;
}




/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/footer/Footer.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Footer_linkFooter__VjidG {

    color: white;
    background-color: black;
    padding: 3em 0 3em 0;
}

.Footer_footerStyle__dMOBm {

    position:absolute;
    bottom:0;
    display:block;  
    width:100%;
 
}


/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./app/global.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
body,html {
    background-color: antiquewhite !important;
    height:100%;
    width:100%;
    display:block;
}
